* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
}

h1 {
  padding-left: 10px
}


body > nav {
  grid-area: nav;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
}

#welcome {
  position: absolute;
  right: 50px
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.medlist {
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

#add-appointments-form *,
#add-medicine-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

table {
  font-size: 20px;
}

#visit {
  font-size: 15px;
  border: 1px solid black;
}

#visitdate {
  font-size: 10px;
  border: 1px solid black;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}


#badge-container {
  padding: 1rem;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
} 