<%- include("../partials/header") %>

<h1 id="newappointment">New Appointment 
  <img src="https://static.vecteezy.com/system/resources/previews/004/698/190/original/calendar-business-date-time-icon-symbol-hand-drawn-cartoon-art-illustration-vector.jpg"> </h1> 
</h1>

<form action="/appointments" method="post" id="add-appointments-form">
    <fieldset >
        <label>Institution:
        <select name="institution">
          <option value="Alexandra Hospital">Alexandra Hospital</option>
          <option value="Changi General Hospital">Changi General Hospital</option>
          <option value="Khoo Teck Phuat Hospital">Khoo Teck Phuat Hospital</option>
          <option value="National University Hospital">National University Hospital</option>
          <option value="Ng Teng Fong General Hospital">Ng Teng Fong General Hospital</option>
          <option value="Sengkang General Hospital">Sengkang General Hospital</option>
          <option value="Singapore General Hospital">Singapore General Hospital</option>
          <option value="Tan Tock Seng Hospital">Tan Tock Seng Hospital</option>
        </select> </label>
        <br/>
        <label>Speciality:
            <select name="speciality">
              <option value="Cardiology">Cardiology</option>
              <option value="Endocrine">Endocrine</option>
              <option value="Gastroenterology">Gastroenterology</option>
              <option value="Infectious Disease">Infectious Disease</option>
              <option value="Neurology">Neurology</option>
              <option value="Pain Management">Pain Management</option>
              <option value="Nephrology">Nephrology</option>
            </select> </label>
            <br/>
             <label>Date: <input name="date" type="date"/></label>
             <br/>
             <label>Time slot:
                <select name="timeslot">
                  <option value="09:00 am">09:00 am</option>
                  <option value="09:30 am">09:30 am</option>
                  <option value="10:00 am">10:00 am</option>
                  <option value="10:30 am">10:30 am</option>
                  <option value="11:00 am">11:00 am</option>
                  <option value="11:30 am">11:30 am</option>
                  <option value="12:00 pm">12:00 pm</option>
                </select> </label>
             <br/>
      <br/>
      <input  type="submit" value="Add Appointment">
    </fieldset><br><br>
  </form>

<%- include("../partials/footer") %>