<%- include("../partials/header") %>

<h1>Patient List <img id="img" src="https://img.freepik.com/premium-vector/clipboard-stethoscope-cartoon-design_579205-38.jpg">
</h1>
<% if (patients.length) { %>
    <section class="medlist">
    <table  id="badge-container">
        <thead>
            <tr>
                <th>PATIENT NAME</th>
            </tr>
        </thead>
        <tbody>
            <% patients.forEach((p) => {%>
                <tr>
                    <td><%= p.userid %></td>
                    <td>
                        <nav>
                        <a id="mainpage" href="/users/patients/<%= p._id %>" >
                            SELECT
                        </a>
                    </nav>
                    </td>
                <% }) 
            } else { %>
                <h1 id="nomeds">No patients</h1>
           <% } %>
        </tbody>
    </table>
    </section>

<%- include("../partials/footer") %>